.unico-text-wrapper .loader {
    transform-origin: center;
    margin-top: 4.5rem;
    height: 76px;
    width: 100%;
    display: grid;
    place-content: center;
}

.unico-text-wrapper .loader svg {
    width: 4.5rem;
    height: 4.5rem;
}

.unico-text-wrapper .loader svg {
    animation: 1s circulating infinite;
}

@keyframes circulating {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}